


<div class="container">
  <h1> Catalogue </h1>
  <div *ngFor="let foo of bookCapture" class="user-container">

    <span>ISBN number : {{foo.id}}<br>Name : {{foo.title}} <br> Author :{{foo.author}} <br> Publisher {{foo.publisher}} </span>
   
 </div>
</div>
<div class = "container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Fetch By ISBN </label>
    <input type="text" class="form-control" name = "isbn" id="isbn" placeholder="ISBN number" [(ngModel)]="isbn">
    <button type="button" (click)="fetchData($event)"class="btn btn-primary">Fetch By ISBN </button>
  </div>
</div>
<div *ngFor="let foo of fetchBook" class="user-container">

  <span>ISBN number : {{foo.id}}<br>Name : {{foo.title}} <br> Author :{{foo.author}} <br> Publisher {{foo.publisher}} </span>
 
</div> 
<div class = "container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Fetch By ISBN </label>
    <input type="text" class="form-control" name = "publisher" id="publisher" placeholder="fetch by publisher" [(ngModel)]="publisher">
    <button type="button" (click)="fetchDataField($event)"class="btn btn-primary">fetch by publisher </button>
  </div>
</div>
<div *ngFor="let foo of post" class="user-container">

  <span>ISBN number : {{foo.id}}<br>Name : {{foo.title}} <br> Author :{{foo.author}} <br> Publisher {{foo.publisher}} </span>
 
</div> 
<button type="button" (click)=" performAnUpdate()"class="btn btn-primary"> Perform post  </button>

<!------Updation of the book entries -->
<h1> Update Entries </h1>
<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name = "ISBN"[(ngModel)]="ISBN" placeholder="ISBN">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="Title" [(ngModel)]="Title" placeholder="title">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name= "subtitle "[(ngModel)]="subtitle"placeholder="subtitle">
    </div>
    <div class="col">
      <input type="text" class="form-control"name = "Publisher "[(ngModel)]="Publisher"placeholder="publisher">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="published" [(ngModel)]="published"placeholder="published">
    </div>
    <div class="col">
      <input type="text" class="form-control" name ="page"[(ngModel)]="page" placeholder="page">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name = "author" [(ngModel)]="author"placeholder="Author">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="description"[(ngModel)]="description" placeholder="description">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="website"[(ngModel)] = "website" placeholder="website">
    </div>
    <button type="button" (click)="update()"class="btn btn-primary">update </button>
  </div>
</form>